Custom Stylesheet
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   color: black;
 }



nav ul a,
nav .brand-logo {
  color: rgb(38, 12, 129);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #5c6bc0 ;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.flex-item {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.page-footer {
max-height: 15%;
opacity: 85%;
border-radius: 5%;
}

.project-block {

  font-size: inherit;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-evenly;
}

footer.page-footer {
  margin: 0;
}


h1 {
  padding-top: 15%;

}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}






