

body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: aliceblue;
  padding-left: 2%;

}


p {
  font-family: 'Open Sans', 'sans-serif';
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-color: teal;
  padding: 3%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;

} 

.topnav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
 
}


.topnav a:hover {
  background-color: lightseagreen;
}

.active {
  background-color: #333;
  color: white;
  font-family: 'Open Sans', 'sans-serif';
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}


.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
  padding-right: 42%;
}

.flex-item {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
font-family: 'Open Sans', 'sans-serif';
margin-right: 48%;
}

.page-footer {
text-align: center;
}


footer.page-footer {
  margin-left: 30%;

}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.project-title {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans', 'sans-serif';
  color: lightskyblue;
  padding: 3%;
}

.images {
  max-width: 1000px;
  min-width: 800px;
  border: solid 10px #5c6bc0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
}

.code, .weather, .parks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 5% 5% 5% 5%;
  border: solid white 3px;
} 

.my-titles {
  color: lightskyblue;
  justify-content: center;
  text-align: center;
}