Custom Stylesheet
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   color: black;
 }



nav ul a,
nav .brand-logo {
  color: rgb(38, 12, 129);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #5c6bc0 ;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.flex-item {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.page-footer {
max-height: 5%;
opacity: 85%;
border-radius: 5%;
}

.project-block {
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25%;
}

footer.page-footer {
  margin: 0;
  
}


h1 h3 {
  padding-top: 15%;

}

.project-block {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
  background-color: #5c6bc0;
  margin-right: 10%;
  margin-left: 70%;
  padding-right: 10%;
}

.project-button {
  font-size: large;
  background-color: #5c6bc0;
  font-weight: bold;
  color: white;
  display: flex;
  margin-top: 5%;
  margin-left: 50%;
  opacity: 85%;
  justify-content: space-evenly;
}


.repo-button {
  font-size: large;
  background-color: whitesmoke;
  font-weight: bold;
  color: #5c6bc0;
  opacity: 85%;
  display: flex;
  margin-top: 5%;
  margin-left: 50%;
  border: solid 2px teal;
}

.images {
  max-width: 1000px;
  min-width: 800px;
  border: solid 10px #5c6bc0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 50%;
  margin-top: 10%;
}

.code, .weather, .parks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-evenly;
 
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-evenly;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

